.env
.envrc
target
*.iml
/.idea
/.idea_modules
/.classpath
/.project
project/target/**
project/project/**
project/metals.sbt
/.settings
/RUNNING_PID
/.metals
/.bloop
/*.pdf
/.DS_Store
/.vscode
/.data
/project/.bloop
**/.DS_Store
.bsp/**
.docker
/.logs
.bsp
shell.nix
.env-build
**/.scannerwork
**/.pom
